<div class="container">
  <div class="formulario">
    <div class="area-logo">
      <img
        routerLink="/login"
        class="logo"
        src="/assets/img/logoDevInHouse.png"
        alt="logo"
      />
    </div>
    <div class="area-titulo">
      <span class="titulo">Dev-Agro</span>
      <span class="subtitulo">Entre com seu login e senha</span>
    </div>
    <form>
      <label class="label">EMAIL</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
      />
      <label class="label">SENHA</label>
      <a href="#" class="forget-password">Esqueceu a senha?</a>
      <input [type]="passwordType" id="senha" placeholder="Senha" required />
      <button class="btn-login" (click)="login()">Log in</button>
      <div class="icone" (click)="togglePassword()">
        <i
          class="fa fa-eye"
          *ngIf="passwordShow == true"
          [ngStyle]="{ color: '#375F24' }"
        ></i>
        <i
          class="fa fa-eye-slash"
          *ngIf="passwordShow == false"
          [ngStyle]="{ color: '#9FA2B4' }"
        ></i>
      </div>
    </form>
    <div class="area-signin">
      <span>Sua empresa não possui conta?</span>
      <a routerLink="/singup">Crie agora!</a>
    </div>
  </div>
</div>
