<div class="container">
  <div class="div-not-found">
    <div class="div-esqueda">
      <div class="img-not-found">
        <img
          class="img"
          src="/assets/img/jubileu.png"
          alt="Voce disse pipoca..."
        />
      </div>
    </div>
    <div class="div-direita">
      <div class="area-titulo">
        <span class="titulo">404 Not Found</span>
        <span class="subtitulo">Ain't nothin' but a mistake!!</span>
      </div>
      <div class="div-back-home">
        <a routerLink="/home">Voltar para login</a>
      </div>
    </div>
  </div>
</div>
