<mat-card class="create">
  <mat-card class="sign-up">
    <div class="logo-container">
      <a routerLink="/">
        <img class="logo" src="/assets/img/logoDevInHouse.png" alt="dev-agro" />
      </a>
    </div>
    <p class="title">Dev-Agro</p>
    <p class="subtitle">Cadastro de Empresa</p>
    <form>
      <label for="eName">NOME</label>
      <input
        type="text"
        placeholder="Nome da Empresa"
        [(ngModel)]="empresa.nome"
        name="nome"
        id="nome"
        required
      />
      <label for="ecnpj">CNPJ</label>
      <input
        type="text"
        placeholder="CNPJ"
        [(ngModel)]="empresa.cnpj"
        name="cnpj"
        id="cnpj"
        required
        mask="000.000.000-00||00.000.000/0000-00"
      />
      <label for="endereco">ENDEREÇO DA SEDE</label>
      <input
        type="text"
        placeholder="Endereço"
        [(ngModel)]="empresa.endereco"
        name="endereco"
        id="endereco"
        required
      />
      <label for="email">E-MAIL</label>
      <input
        type="email"
        placeholder="E-mail"
        [(ngModel)]="empresa.email"
        name="email"
        id="email"
        required
      />
      <label for="password">SENHA</label>
      <input
        [type]="passwordType"
        placeholder="Senha"
        [(ngModel)]="empresa.senha"
        name="senha"
        id="senha"
        required
      />
      <div class="icone" (click)="togglePassword()">
        <i
          class="fa fa-eye"
          *ngIf="passwordShow == true"
          [ngStyle]="{ color: '#375F24' }"
        ></i>
        <i
          class="fa fa-eye-slash"
          *ngIf="passwordShow == false"
          [ngStyle]="{ color: '#9FA2B4' }"
        ></i>
      </div>
      <label for="retypepassword">DIGITE NOVAMENTE A SENHA</label>
      <input [type]="passwordType2" placeholder="Senha" id="senha2" required />
      <div class="icone2" (click)="toggleRetypePassword()">
        <i
          class="fa fa-eye"
          *ngIf="passwordShow2 == true"
          [ngStyle]="{ color: '#375F24' }"
        ></i>
        <i
          class="fa fa-eye-slash"
          *ngIf="passwordShow2 == false"
          [ngStyle]="{ color: '#9FA2B4' }"
        ></i>
      </div>
      <input
        type="submit"
        value="Log In"
        (click)="createEmpresa()"
        class="login-button"
      />
    </form>
  </mat-card>
</mat-card>
