<mat-card class="create">
  <form>
    <div class="input-fields">
      <label class="descricao-input">NOME</label>
      <input
        type="text"
        id="name"
        name="nome"
        class="input-field"
        [(ngModel)]="fazenda.name"
        placeholder="Nome da Fazenda"
        required
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">ENDEREÇO</label>
      <input
        type="text"
        id="endereco"
        name="endereco"
        class="input-field"
        [(ngModel)]="fazenda.endereco"
        placeholder="Endereço da Fazenda"
        required
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">CIDADE</label>
      <input
        type="text"
        id="cidade"
        name="cidade"
        class="input-field"
        [(ngModel)]="fazenda.cidade"
        placeholder="Cidade da Fazenda"
        required
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">GRÃO</label>
      <input
        type="text"
        id="grao"
        name="grao"
        class="input-field"
        [(ngModel)]="fazenda.grao"
        placeholder="Grão"
        required
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">DATA DA ÚLTIMA COLHEITA</label>
      <input
        type="text"
        id="ultimaColheita"
        name="ultimaColheita"
        class="input-field"
        [(ngModel)]="fazenda.ultimaColheita"
        placeholder="Data da Última Colheita"
        required
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">ESTOQUE</label>
      <input
        type="text"
        id="ultimaColheita"
        name="ultimaColheita"
        class="input-field"
        [(ngModel)]="fazenda.estoque"
        placeholder="Quantidade em Estoque"
        required
      />
    </div>
  </form>
</mat-card>
<mat-card class="button-position">
  <button (click)="createFazenda()">CADASTRAR</button>
  <button id="cancel" (click)="cancel()">CANCELAR</button>
</mat-card>
