<mat-card class="delete">
  <form>
    <div class="input-fields">
      <label class="descricao-input">NOME</label>
      <input
        type="text"
        name="name"
        class="input-field"
        [(ngModel)]="fazenda.name"
        disabled
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">ENDEREÇO</label>
      <input
        type="text"
        name="endereco"
        class="input-field"
        [(ngModel)]="fazenda.endereco"
        disabled
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">CIDADE</label>
      <input
        type="text"
        id="cidade"
        name="cidade"
        class="input-field"
        [(ngModel)]="fazenda.cidade"
        disabled
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">GRÃO</label>
      <input
        type="text"
        name="grao"
        class="input-field"
        [(ngModel)]="fazenda.grao"
        disabled
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">DATA DA ÚLTIMA COLHEITA</label>
      <input
        type="text"
        name="ultimaColheita"
        class="input-field"
        [(ngModel)]="fazenda.ultimaColheita"
        disabled
      />
    </div>
    <div class="input-fields">
      <label class="descricao-input">ESTOQUE</label>
      <input
        type="text"
        id="estoque"
        name="estoque"
        class="input-field"
        [(ngModel)]="fazenda.estoque"
        disabled
      />
    </div>
  </form>
</mat-card>
<mat-card class="button-position">
  <button (click)="deleteFazenda()">DELETAR</button>
  <button id="cancel" (click)="cancel()">CANCELAR</button>
</mat-card>
