<mat-sidenav-container class="sidebar">
  <mat-sidenav
    [disableClose]="true"
    class="sidenav {{ responsive ? 'active' : '' }}"
    mode="side"
farm-title-    opened
    fixedInViewport="true"
  >
    <a mat-list-item (click)="callSideNav()" class="top-icon">
      <i class="material-icons">list</i>
    </a>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/home" routerLinkActive="selected">
        <div class="selected-indicator"></div>
        <i class="material-icons"> home </i>
        Início </a
      ><br />
      <a mat-list-item routerLink="/funcionario/" routerLinkActive="selected">
        <div class="selected-indicator"></div>
        <i class="material-icons"> groups </i>
        Funcionario </a
      ><br />
      <a mat-list-item routerLink="/fazenda/" routerLinkActive="selected">
        <div class="selected-indicator"></div>
        <i class="material-icons"> agriculture </i>
        Fazenda </a
      ><br />
      <a mat-list-item routerLink="/grao/" routerLinkActive="selected">
        <div class="selected-indicator"></div>
        <i class="material-icons"> grain </i>
        Grão </a
      ><br />
      <a mat-list-item (click)="logout()" class="bottom-icon">
        <span class="material-symbols-outlined">
          logout
        </span>
      Log out</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
